.allGoalseekr {
  display: flex;
  height: 350px;
  margin-top: 100px;
}

.wholeGoalseekrModelComponent {
  height: 80%;
  margin-left: 20%;
  float: right;
}

.wordsGoalseekr {
  margin-top: 6%;
  margin-left: 15%;
  width: 45%;
  display: inline;
  position: absolute;
  /* width: 600px; */
}

.goalseekr {
  color: #7ed957;
  font-size: 60px;
  font-weight: bold;
  text-align: left;
  height: 100%;
  font-family: 'Bowlby One', cursive;
  letter-spacing: 2px;
}

.descriptionGoalSeekr {
  color: #2a3ce1;
  font-size: 25px;
  text-align: left;
  margin-top: 2%;
  /* height: 100%; */
}

.goalseekrAndTech {
  display: flex;
  color: #7ed957;
  /* height: 100%; */
}

.techStackGoalseekr {
  margin-top: 4.7%;
  margin-left: 3%;
  font-size: 15px;
  width: 200%;
}

.goalseekrModel {
  height: 100%;
  margin-left: 52%;
  margin-top: 2%;
}

.links {
  display: flex;
  margin-top: 3%;
}
.link {
  height: 35px;
  margin-right: 2%;
}
.github {
  height: 35px;
  margin-right: 2%;
}
.lineDivGoalseekr {
  width: 85%;
  height: 2px;
  background-color: #7ed957;
  margin-top: 3%;
}
