.sdc {
  display: flex;
  height: 350px;
  width: 100%;
}

.sdcModel {
  height: 30%;
  margin-left: 3%;
}

.wordsSDC {
  margin-top: 6%;
  margin-left: 0%;
  width: 46%;
  display: inline;
  /* position: absolute; */
  /* width: 600px; */
}

.qanda {
  color: #7ed957;
  font-size: 60px;
  font-weight: bold;
  margin-left: 5%;
  float: right;
  /* text-align: right; */
  height: 100%;
  font-family: 'Bowlby One', cursive;
  letter-spacing: 2px;
}

.descriptionSDC {
  color: #2a3ce1;
  font-size: 25px;
  text-align: right;
  margin-top: 2%;
  /* height: 100%; */
}

.qandaAndTech {
  display: flex;
  color: #7ed957;
  margin-left: 17.5%;
  width: 90%
  /* height: 100%; */
}

.techStackSDC {
  margin-top: 5.7%;
  margin-left: 3%;
  font-size: 15px;
  text-align: right;
}


/* .linksMVP {
  display: flex;
  margin-top: 3%;
}
.linkMVP {
  height: 35px;
}
.githubMVP {
  height: 35px;
  margin-right: 2%;
}
.lineDivMVP {
  width: 82%;
  height: 2px;
  background-color: #7ed957;
  margin-top: 3%;
  margin-right: 2%;
  margin-left: 5%;
} */
