.App {
  text-align: center;
  /* align-items: center; */
}

.App-header {
  background-color: #17181E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.aboutMe {
  /* width: 60%; */
  font-size: 35px;
  margin-top: 20%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 15%; /* take away soon */
  color: white;
  /* text-align: center; */
}

.holdsAboutMe {
  width: 100%;
  align-items: center;
}
