.App {
  text-align: center;
  overflow: hidden;
  /* align-items: center; */
}

.gif {
  height: 100%;
  align-self: center;
}

.App-header {
  background-color: #17181E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.aboutMe {
  /* width: 60%; */
  font-size: 35px;
  margin-top: 20%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 13%; /* take away soon */
  color: white;
  z-index: 5;
  /* text-align: center; */
}

.holdsAboutMe {
  width: 100%;
  align-items: center;
  z-index: 5;
}

.blobsComponent {
  position: absolute;
  z-index: 0;
  margin-left: 80%;
}

.projectsComponent {
  z-index: 8;
}
