.hello {
  color: white;
  height: 100px;
}

.blob1 {
  transform: scale(0.2);
  margin-right: 50%;
  /* height: 1000px; */
  position: absolute;
}

.blobs {
  height: 100%;
  width: 100%;
  position: absolute;
}

.pinkgreenblob {
  height: 80%;
  float: right;
  position: absolute;
  margin-left: 80%;
}
