.blobsTemporary {
  z-index: -500;
}

.parallaxBlobs {
  overflow-x: clip;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -500;
}

.tempBlob1 {
  position: absolute;
  height: 92%;
  margin-left: 76%;
  margin-top: 1%;
  z-index: -500;
}

.tempBlob2 {
  position: absolute;
  height: 80%;
  margin-top: 26%;
  margin-left: -10%;
  z-index: -500;
}

.tempBlob8 {
  position: absolute;
  height: 70%;
  z-index: -500;
  margin-top: 70%;
  margin-left: 80%;
  -webkit-transform: rotate(180deg); /* Safari and Chrome */
  -moz-transform: rotate(180deg);   /* Firefox */
  -ms-transform: rotate(180deg);   /* IE 9 */
  -o-transform: rotate(180deg);   /* Opera */
  transform: rotate(180deg);
}

.tempBlob9 {
  position: absolute;
  height: 50%;
  z-index: -500;
}

.tempBlob10 {
  position: absolute;
  height: 50%;
  z-index: -500;
}

.line1 {
  position: absolute;
  height: 24%;
  margin-left: 78%;
  margin-top: 2%;
  z-index: -500;
}

.line2 {
  position: absolute;
  height: 26%;
  margin-left: 15%;
  margin-top: 35%;
  z-index: -500;
}

.line3 {
  position: absolute;
  height: 30%;
  margin-left: 7%;
  margin-top: 3%;
  z-index: -500;
}

.line4 {
  position: absolute;
  height: 20%;
  margin-left: 11%;
  margin-top: 7%;
  z-index: -500;
}

.line5 {
  position: absolute;
  height: 30%;
  margin-top: 35%;
  margin-left: 55%;
  z-index: -500;
}
