.helloWorldIAm {
  margin-top: 160px;
  color: white;
  font-size: 30px;
  font-family: "OscanExpanded-Outline";
}

.emptyDiv {
  font-size: 120px;
  color: #17181E;
}

.isabelleSmith2 {
  color: #7ed957;
  font-size: 100px;
  font-family: 'Bowlby One', cursive;
}

.aFullStackSE {
  color: #2a3ce1;
  font-size: 40px;
}

.App-link {
  color: #61dafb;
}