.menu {
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 500;
  display: flex;
}

.popOutMe {
  display: flex;
  width: 20%;
}

.logo {
  height: 40px;
  float: left;
  margin-top: 1.4%;
  margin-left: 2.2%;
  position: absolute;
}
.logo:hover {
  filter: invert(80%) sepia(31%) saturate(847%) hue-rotate(49deg) brightness(94%) contrast(86%);
}
#logo:hover ~ #justMenuNoLogo {
  visibility: visible;
}

.justMenuNoLogo {
  font-size: 130%;
  margin-left: 33%;
  display: flex;
  /* visibility: hidden; */
}

.linkedInLink, .githubLink, .resumeLink {
  text-decoration: none;
  color: #7ed957;
  margin-top: 10.5%;
  margin-left: 8%;
  margin-right: 8%;
}

.dot {
  font-size: 250%;
  color: #7ed957;
  margin-top: -6%;
}

.menuDot {
  font-size: 250%;
  color: #7ed957;
  margin-top: 5%;
}

.menuLines {
  color: white;
  height: 35px;
  margin-top: -3%;
  margin-left: 5%;
  float: right;
  /* position: absolute; */
}
.menuLines:hover {
  filter: invert(80%) sepia(31%) saturate(847%) hue-rotate(49deg) brightness(94%) contrast(86%);
}

.popOutMenu {
  display: flex;
  margin-top: 2%;
  margin-left: 52%;
  width: 100%;
  width: 20%;
}

.justMenusMenuNoLogo {
  /* visibility: hidden; */
  font-size: 130%;
  display: flex;
  margin-top: 0.3%;
}

.menusLink {
  text-decoration: none;
  color: #7ed957;
  margin-left: 8%;
  margin-right: 8%;
}

.newMenuDiv {
  display: flex;
  margin-left: 0%;
}

.divThatHelpsMenuGoAway {
  width: 100%;
  position: absolute;
  margin-top: 4.2%;
  height: 1500%;
}
.otherDivThatHelpsMenuGoAway {
  position: absolute;
  margin-left: 31%;
  width: 38%;
  height: 200%;
  /* background-color: #7ed957; */
}

.menusLink1 {
  text-decoration: none;
  color: #7ed957;
  margin-left: 8%;
  margin-right: 8%;
  background-color: #17181E;
  border-radius: 3px;
}
/* .menusLink1::after {
  margin-left: 88.1%;
  content: '';
  position: absolute;
  width: 4.5%;
  transform: scaleX(0);
  height: 1.35px;
  bottom: 0;
  left: 0;
  background-color: #7ed957;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}
.menusLink1:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
} */
.menusLink2 {
  text-decoration: none;
  color: #7ed957;
  margin-left: 8%;
  margin-right: 8%;
  background-color: #17181E;
  border-radius: 3px;
}
/* .menusLink2::after {
  margin-left: 80.2%;
  content: '';
  position: absolute;
  width: 4.5%;
  transform: scaleX(0);
  height: 1.35px;
  bottom: 0;
  left: 0;
  background-color: #7ed957;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}
.menusLink2:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
} */
.menusLink3 {
  text-decoration: none;
  color: #7ed957;
  margin-left: 8%;
  margin-right: 8%;
  background-color: #17181E;
  border-radius: 3px;
}
/* .menusLink3::after {
  margin-left: 73.3%;
  content: '';
  position: absolute;
  width: 3.5%;
  transform: scaleX(0);
  height: 1.35px;
  bottom: 0;
  left: 0;
  background-color: #7ed957;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}
.menusLink3:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
} */
.resumeLink {
  text-decoration: none;
  color: #7ed957;
  margin-top: 10.5%;
  margin-left: 8%;
  margin-right: 8%;
  background-color: #17181E;
  border-radius: 3px;
}
/* .resumeLink::after {
  margin-left: 23.08%;
  content: '';
  position: absolute;
  width: 4.5%;
  transform: scaleX(0);
  height: 1.35px;
  bottom: 0;
  left: 0;
  background-color: #7ed957;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}
.resumeLink:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
} */
.githubLink {
  text-decoration: none;
  color: #7ed957;
  margin-top: 10.5%;
  margin-left: 8%;
  margin-right: 8%;
  background-color: #17181E;
  border-radius: 3px;
}
/* .githubLink::after {
  margin-left: 15.87%;
  content: '';
  position: absolute;
  width: 3.9%;
  transform: scaleX(0);
  height: 1.35px;
  bottom: 0;
  left: 0;
  background-color: #7ed957;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}
.githubLink:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
} */
.linkedInLink {
  text-decoration: none;
  color: #7ed957;
  margin-top: 10.5%;
  margin-left: 40%;
  margin-right: 8%;
  background-color: #17181E;
  border-radius: 3px;
}
/* .linkedInLink::after {
  margin-left: 7.9%;
  content: '';
  position: absolute;
  width: 4.5%;
  transform: scaleX(0);
  height: 1.35px;
  bottom: 0;
  left: 0;
  background-color: #7ed957;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}
.linkedInLink:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
} */
