.menu {
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 500;
  display: flex;
}

.popOutMe {
  display: flex;
  width: 20%;
}

.logo {
  height: 40px;
  float: left;
  margin-top: 1.4%;
  margin-left: 2.2%;
  position: absolute;
}
.logo:hover {
  filter: invert(80%) sepia(31%) saturate(847%) hue-rotate(49deg) brightness(94%) contrast(86%);
}
#logo:hover ~ #justMenuNoLogo {
  visibility: visible;
}

.justMenuNoLogo {
  font-size: 130%;
  margin-left: 33%;
  display: flex;
  /* visibility: hidden; */
}

.link {
  text-decoration: none;
  color: #7ed957;
  margin-top: 13%;
  margin-left: 8%;
  margin-right: 8%;
}

.dot {
  font-size: 250%;
  color: #7ed957;
  margin-top: 4.2%;
}

.menuDot {
  font-size: 250%;
  color: #7ed957;
  margin-top: -9.7%;
}

.menuLines {
  color: white;
  height: 35px;
  margin-top: 1.6%;
  margin-left: 5%;
  /* position: absolute; */
}
.menuLines:hover {
  filter: invert(80%) sepia(31%) saturate(847%) hue-rotate(49deg) brightness(94%) contrast(86%);
}

.popOutMenu {
  display: flex;
  margin-top: 2%;
  margin-left: 50%;
  width: 100%;
  width: 20%;
}

.justMenusMenuNoLogo {
  /* visibility: hidden; */
  font-size: 130%;
  display: flex;
  margin-top: 0.3%;
}

.menusLink {
  text-decoration: none;
  color: #7ed957;
  margin-left: 8%;
  margin-right: 8%;
}

.newMenuDiv {
  display: flex;
  margin-left: 0%;
}
